.all-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: hidden;
  border-radius: 20px;
  margin-left: 15%;
  margin-right: 15%;
  box-shadow: 5px 5px lightgray;
}

.head-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}
.head-container .person-name {
  font-size: 25px;
  flex: 1;
  padding: 15px 30px;
  margin-left: 10%;
}
.head-container .head-row {
  color: #575555;
  text-align: center;
  margin: 0 auto;
  font-size: 12px;
  flex: 2;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
}

.foot-container {
  text-align: center;
  font-size: 80%;
  color: #868383;
}

.body-container {
  position: relative;
  width: 75%;
}
.body-container .body-container__front {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
}
.body-container .body-container__front .body-container__front__left {
  position: relative;
  margin: 0 auto;
  width: 200px;
  margin-top: -180px;
  align-self: center;
  margin-left: 2%;
}
.body-container .body-container__front .body-container__front__left img {
  position: relative;
  padding: 2px 2px 2px 2px;
  background-color: darkgray;
}
.body-container .body-container__bottom {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
}
.body-container .body-container__bottom .body-container__bottom__left {
  position: relative;
  margin: 0 auto;
  margin-top: 3%;
  margin-left: 2%;
  width: 250px;
  text-align: left;
  align-self: left;
  justify-content: center;
}

@media screen and (min-width: 956px) {
  .body-container__bottom__right {
    position: relative;
    right: 5px;
    margin: 0 auto;
    margin-top: 3%;
    margin-right: 2px;
    width: 240px;
    text-align: left;
    align-self: left;
    justify-content: center;
  }

  .body-container__front__right {
    position: absolute;
    margin-bottom: -300px;
    right: 5%;
    margin: 0 auto;
    width: 240px;
    text-align: center;
    align-self: center;
    justify-content: center;
  }
  .body-container__front__right .link-logo {
    position: relative;
    text-align: center;
    align-self: center;
    justify-content: center;
    display: flex;
  }
  .body-container__front__right .link-logo .twitter img {
    width: 20px;
  }
  .body-container__front__right .link-logo .facebook img {
    width: 20px;
  }
  .body-container__front__right .link-logo .instagram img {
    width: 20px;
  }
}
@media screen and (max-width: 956px) {
  .body-container__bottom__right {
    position: relative;
    margin: 0 auto;
    margin-top: 3%;
    margin-left: 2%;
    width: 240px;
    text-align: left;
    align-self: left;
  }

  .body-container__front__right {
    position: relative;
    margin: 0 auto;
    width: 240px;
    margin-left: 2%;
    text-align: center;
    align-self: center;
    justify-content: center;
  }
  .body-container__front__right .link-logo {
    position: relative;
    text-align: center;
    align-self: center;
    justify-content: center;
    display: flex;
  }
  .body-container__front__right .link-logo .twitter img {
    width: 20px;
  }
  .body-container__front__right .link-logo .facebook img {
    width: 20px;
  }
  .body-container__front__right .link-logo .instagram img {
    width: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
